enc_temp_folder/
Build/
build/
cmake-build-*/
Documentation/doc/
Documentation/API.xml
TombEngine/x64/
TombEngine/Debug/
TombEngine/Release/
packages/
.vs/
.vscode/
.vsconfig
*.dmp
*.id0
*.id1
*.id2
*.id3
*.obj
*.zip
*.db
*.opendb
*.exp
*.pdb
*.ilk
*_d.lib
*_d.dll
*.wav
*.trc
*.str
*.ten
.DS_Store
Thumbs.db
Logs/

# VLC libraries downloaded by Tools/download-vlc-linux.sh
Libs/vlc/linux/
